

@use '../../sass/' as *;

.layout {
    display: flex;
    position: relative;
  
    
    


}


.layout__content{

   
    // position: relative;
    background-color: var(--second-bg);
    // background-color: aquamarine;
    
   
    width: 39.2rem;
    border-right: 0.5px solid #E8E8E8;
    min-height: 525vh;

    overflow-x: unset;
    
    

    
   

   
  
   
}

