

@use '../../sass/' as *;


.sub_content{
    display: flex;
    @include flex(center,space-between);

    padding: 0px 1.2rem 0px;
    


    &__left{

        @include flex(center,unset);


        &__avatar{

            height: 40px;
            width: 40px;
            margin-bottom: 1.6rem;
            
            

            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        &__contents{

            padding-left: 0.8rem;
            padding-bottom: 1.6rem;

            .title{
                font-weight: 600;
                font-size: 0.96rem;
            }

            .subname{
                color: #818181;
                font-size: 0.72rem;
            }

        }

       

    }
    &__right{
        margin-bottom: 1.6rem;

        button{
            height: 28px;
            width: 72px;
            background-color: black;
            color: white;
            border-radius: 16px;
            font-size: 0.88rem;
        }
    }


}