

@use '../../sass/' as *;


.sub_content{
    display: flex;
    @include flex(center,space-between);
    


    &__left{

        @include flex(center,unset);


        &__avatar{

            height: 50px;
            width: 50px;
            margin-bottom: 2rem;
            
            

            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        &__contents{

            padding-left: 1rem;
            padding-bottom: 2rem;

            .title{
                font-weight: 600;
                
            }

            .subname{
                color: #818181;
            }

        }

       

    }
    &__right{
        margin-bottom: 2rem;

        button{
            height: 35px;
            width: 90px;
            background-color: black;
            color: white;
            border-radius: 20px;
        }
    }


}