@use "../../sass/" as *;

.postcard {
  &__contents {
    &__current {
      @include flex(center, unset);

      i {
        padding-left: 3.2rem;
        font-size: 1.2rem;
        padding-right: 0.48rem;
        color: gray;
      }
      p {
        font-size: 0.72rem;
        font-weight: 700;
        color: var(--color-text);
      }
    }

    &__mainContent {
      display: flex;
      @include flex(unset, space-between);
      // position: relative;

      &__avatar_content_name {
        display: flex;
        margin-left: 0.8rem;
        margin-top: 0.4rem;

        .frame_img {
          width: 48px;
          height: 48px;
          position: inherit;
          @include mobile {
            height: 40px;
            width: 40px;
            // margin-left: -5px;
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            // position: absolute;
            object-fit: cover;
          }
        }

        .content_name {
          padding-left: 0.8rem;
          margin-top: 0.16rem;

          @include mobile {
            padding-left: 0.5rem;
          }

          .UserName_time {
            display: flex;
            @include flex(center, unset);

            .nam_user {
              font-size: 0.96rem;
              font-weight: 600;

              @include mobile {
                font-size: 0.7rem;
              }
            }
            .subname_user {
              font-size: 0.88rem;
              margin-left: 0.4rem;
              color: var(--color-text);
              @include mobile {
                font-size: 0.7rem;
                margin-left: 0rem;
              }
            }
          }
          .current_status {
            margin-top: 0.16rem;
            // background-color: #75E59B;
            min-height: max-content;
            height: 100%;
            max-width: max-content;
            max-width: 520px;

            @include mobile{
              max-width: 320px;
             
            }

            p {
              font-size: 0.88rem;
              font-weight: 400;
              @include mobile{
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      .frame_more {
        width: 32px;
        height: 32px;
        // background-color: aquamarine;
        margin-right: 0.8rem;

        @include mobile {
          margin-right: 0;
        }

        .buttons {
          // background-color: #9BCDFB;
          width: 100%;
          height: 100%;
          border-radius: 24px;
          color: black;
          font-size: 0.96rem;
          font-weight: 530;
          align-items: center;
          @include flex(center, unset);

          &:hover {
            // background-color: #E4F1FC;
            color: #6ab4f8;
            background-color: #b8d9f8;
          }
          i {
            padding-left: 0.4rem;
            font-size: 1.12rem;
          }
        }
      }
    }

    .img_upload {
      width: 95%;
      height: 100%;
      margin: auto;

      padding-left: 3.2rem;
      padding-top: 0.64rem;
      @include mobile{
        margin-left: -5px;
        padding-top: 0px;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
      }
    }

    .Card_icon {
      display: flex;
      // position: relative;
      @include mobile{
        margin-left: -10px;
      }

      .num_icon {
        display: flex;
        @include flex(center, unset);
        align-items: center;
        margin-left: 3.6rem;
        margin-top: 0.72rem;
        margin-bottom: 0.4rem;
       
        @include mobile{

            margin-left: 4rem;
            
            margin-top: 0px;

            i{
                font-size: 1rem;
            }
            p{
                font-size: 0.8rem;
            }
        }
        .tooltip {
          position: inherit;
          &:hover {
            background-color: #e3effa;
            color: #63b3fc;
          }
        }
        .hover_i {
          display: flex;
          @include flex(center, unset);
          align-items: center;
          &:hover {
            // background-color: #E3EFFA;
            color: #63b3fc;
          }
        }
      }


      .num_icon__more {
        display: flex;
        @include flex(center, unset);
        align-items: center;
        margin-left: 6.4rem;
        margin-top: 0.72rem;
        margin-bottom: 0.4rem;



        @include mobile{

            margin-left: 2rem;
            margin-top: 0px;
            i{
                font-size: 1rem;
            }
            p{
                font-size: 0.8rem;
            }
        }

        .tooltips {
          position: inherit;
            &:hover {
              background-color: #DEF1E4;
              color: #75E59B;
            }
          }
          .hover_ii {
            display: flex;
            @include flex(center, unset);
            align-items: center;
            &:hover {
              
              color: #75E59B;
            }
          }


          .tooltipss {
            position: inherit;
            &:hover {
              background-color: #EBD0DD;
              color: #D60268;
            }
          }
          .hover_iii {
            display: flex;
            @include flex(center, unset);
            align-items: center;
            &:hover {
              // background-color: #E3EFFA;
              color: #D60268;
            }
          }


          .tooltipsss {
            position: inherit;
            &:hover {
              background-color: #e3effa;
              color: #63b3fc;
            }
          }
          .hover_iiii {
            display: flex;
            @include flex(center, unset);
            align-items: center;
            &:hover {
              // background-color: #E3EFFA;
              color: #63b3fc;
            }
          }
        

      }
    }
  }
}
