

@use  '../../sass/' as *;

.status {

    display: block;
    
    @include mobile {
        display: none;
    }
    

    &__content{
        display: flex;
        align-items: center;
        margin-left: 0.8rem;
        @include flex(center,unset);

        &__user{

            height: 48px;
            width: 48px;

            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }


        }
        &__enter{
            width: 536px;
            height: 40px;
            margin-left: 0.4rem;

            textarea{
                width: 100%;
                height: 100%;
                font-size: 1.28rem;
                padding: 0.4rem;
            }
            
        }
    }

    &__icon{

        font-size: 1.6rem;
        @include flex(center,space-between);
        display: flex;

        .button_tweet{
            margin-right: 0.8rem;
            height: 2rem;
            width: 4rem;
            margin-top: -0.8rem;
            button{
                background-color: #9BCDFB;
                width: 100%;
                height: 100%;
                border-radius: 24px;
                color: white;
                font-size: 0.96rem;
                font-weight: 530;
            }
        }

        .frame_icon{

            padding: 1.2rem 4rem;

            button{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: white;
                i{
                    font-size: 1.2rem;
                    color: var(--color-twitter);
                   
                }
     
                &:hover{
                    background-color: #E4F1FC;
                    color: var(--color-twitter);
                    
                }
            }


        }
       
      
    }
}