@use "../../sass/" as *;

.main_home {
  display: flex;
  position: absolute;

  .frame_bookmark {
    margin-top: 80px;
    width: 39.15rem !important;
    // width: 100%;
    background-color: white;
    // background-color: red !important;
    height: max-content;
    min-height: 140px;
    // border-bottom: $border-line;
    height: 100vh;
    cursor: pointer;
    .frame_img {
      @include flex(unset, center);
      img {
        @include mobile {
          width: 100%;
        }
      }
    }

    h1 {
      @include flex(unset, center);
      font-size: 2.5rem;
      @include mobile {
        font-size: 2rem;
      }
    }

    .frame_content_bookmark {
      padding-left: 25%;
      padding-right: 9rem;
      // background-color: firebrick;
      @include mobile {
        padding-left: 1rem;
        // background-color: aqua;
        padding-right: 5px;
      }

      p {
        margin-top: 1rem;
        font-size: 0.8;
        color: #999a9b;
        line-height: 1.5rem;
      }
    }

    @include mobile {
      // display: none;
      max-width: max-content;
      width: 100%;
      margin-top: 60px;

      // margin-right: 0px;
      // width: 50%;
    }
    &__contents {
      // margin-top: 1rem;
      // border-top: $border-line;
      img {
        width: 100%;
      }
    }
  }

  .set_position_search {
    margin-left: 8px !important;
    position: fixed;
    // background-color: aquamarine;
    margin-bottom: 4rem;
  }

  .frame_main_appbarRightss {
    margin-left: 41.5%;
    cursor: pointer;

    position: fixed;
    overflow-y: auto;
    // background-color:red;
    height: 100vh;
    width: 87%;
    // border-left: 0.5px solid #E8E8E8;

    margin-top: 4%;
    //    background-color: red;

    @include mobile {
      display: none;
    }

    .content {
      background-color: #f4f6f8;
      // background-color: aqua;
      width: 25.8%;
      border-radius: 20px;

      margin: 1.5rem;
      margin-top: 0px;

      height: max-content;
      // margin-bottom: 1.5%;

      // padding: 1.5rem 1.5rem 1.5rem ;
      // background-color: aquamarine;

      h2 {
        padding: 0rem 0 2rem;
        padding: 1.5rem 1.5rem 1.5rem;
      }
      .see {
        color: var(--color-twitter);
        padding: 1.5rem 1.5rem 1.5rem;
      }
    }
    // .marginBottom {
    //     margin-bottom: 20%;
    // }

    .frame_copyright {
      width: 27%;
      border-radius: 20px;

      margin: 1.5rem;
      margin-bottom: 15%;

      padding: 0rem 1.5rem 1.5rem;

      &__one {
        display: flex;
        p {
          margin-right: 0.7rem;
          font-size: 0.9rem;
          color: var(--color-text);
        }
      }
      &__second {
        display: flex;
        margin-top: 0.4rem;
        width: 100%;
        // background-color: aquamarine;
        p {
          margin-right: 0.7rem;
          font-size: 0.9rem;
          color: var(--color-text);
        }
      }
    }
  }
}
