@use "../../sass/" as *;

.main_home {
  display: flex;
  position: absolute;

  .frame_status {
    margin-top: 80px;
    width: 39.12rem;
    // width: 100%;
    background-color: white;
    // background-color: red;
    height: max-content;
    min-height: 112px;
    // border-bottom: $border-line;
    cursor: pointer;

    @include mobile {
      // display: none;
      max-width: max-content;
      width: 100%;
      margin-top: 60px;

      // margin-right: 0px;
      // width: 50%;
    }
    &__contents {
      // margin-top: 1rem;
      // border-top: $border-line;
      img {
        width: 100%;
      }
    }

    .frame_status__contents {
      border-top: $border-line;

      &:hover {
        background-color: $backgound_appbar;
        // background-color: red;
      }
    }
  }

  .set_position_search {
    margin-left: 6px !important;
    position: fixed;
    // background-color: aquamarine;
    margin-bottom: 4rem;
  }

  .frame_main_appbarRight {
    margin-left: 33.5%;
    cursor: pointer;

    position: fixed;
    overflow-y: auto;
    // background-color:red;
    height: 100vh;
    width: 86%;
    // border-left: 0.5px solid #E8E8E8;
    margin-top: 3.2%;
    //    background-color: red;

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }

    .content {
      background-color: #f4f6f8;
      // background-color: aqua;
      width: 25.8%;
      border-radius: 16px;

      margin: 1.2rem;
      margin-top: 0px;

      height: max-content;
      // margin-bottom: 1.5%;

      // padding: 1.5rem 1.5rem 1.5rem ;
      // background-color: aquamarine;

      h2 {
        padding: 0rem 0 1.6rem;
        padding: 1.2rem 1.2rem 1.2rem;
        font-size: 1.1rem;
      }
      .see {
        color: var(--color-twitter);
        padding: 1.2rem 1.2rem 1.2rem;
        font-size: 0.88rem;
      }
    }
    // .marginBottom {
    //     margin-bottom: 20%;
    // }

    .frame_copyright {
      width: 27%;
      border-radius: 16px;

      margin: 1.2rem;
      margin-bottom: 12%;

      padding: 0rem 1.2rem 1.2rem;

      &__one {
        display: flex;
        p {
          margin-right: 0.56rem;
          font-size: 0.72rem;
          color: var(--color-text);
        }
      }
      &__second {
        display: flex;
        margin-top: 0.32rem;
        width: 100%;
        // background-color: aquamarine;
        p {
          margin-right: 0.56rem;
          font-size: 0.72rem;
          color: var(--color-text);
        }
      }
    }
  }
}
