
@use '../../sass/' as * ;

.main_frames{
    
    // margin-bottom: 1.5rem;
    // background-color: aquamarine;

    &__contents{
        display: flex;
        // background-color: aqua;
        @include flex(unset,space-between);
        cursor: pointer;
        padding: 8px;
        width: 100%;

        padding: 1.2rem 1.2rem 1.2rem ;
        &:hover{
            background-color: #E1E2EB;
        }
       

     

       

            .title{
                color: #818181;
                font-size: 0.72rem;
                
            }
            
            .name{
                font-weight: 600;
                padding: 0.32rem 0 0.32rem ;
                font-size: 0.96rem;
            }
            .number_tweet{
                color: #818181;
                font-size: 0.72rem;
            }


        .frame_icon_appbarright{

          
            
            button{

                height: 32px;
                width: 32px;
                border-radius: 50%;
                background-color: transparent;
                outline: 0;
                i{
                    font-size: 1.2rem;
                    padding-top: 0.16rem;
                    
                }

                &:hover{
                    background-color: #e3effa;
                    color: #63b3fc;
                }
            }


        }

       
        
    }
}