

@use '../../../../sass/' as *;



.second_Nav{
    display: flex;
    // background-color: aqua;
    @include flex(unset,space-between);
    cursor: pointer;
    padding: 20px;
    &:hover{
        background-color: $backgound-appbar;
    }

    .frame_style_content_secon_nav{
        // background-color: aqua;
        max-width: max-content;
        width: 80%;

        h4{
            padding-top: 0.5rem;
            font-weight: 700;
        }

    }

    .frame_style_content_secon_nav_list{
        // background-color: aqua;
        max-width: max-content;
        display: flex;
        width: 80%;
        @include flex(center,unset);

        h4{
            padding-top: 0.5rem;
            font-weight: 700;
        }

        .frame_img_list{
            height: 100px;
            width: 100px;
            @include mobile{
                width: 80px;
                height: 80px;
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

        }


        .main_name_img{

            margin-left: 1rem;
            @include mobile {
                margin-left: 0.5rem;
            }



            .sub_name_img{

         

                display: flex;
                @include flex(center,unset);
        
                p{
                    font-size: 1rem;
                    font-weight: 500;
                    padding-top: 0.5rem;
                    padding-left: 0.5rem;
                    @include mobile{
                        font-size: 0.8rem;
                    }
                }
    
                .sub_image{
                    height: 30px;
                    width: 30px;
                    margin-top: 0.5rem;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                    }
                }
    
            }

        }
        
        

    }

    .buttonss {
        height: 40px;
        width: 120px;
        margin-top: 4%;
        @include mobile{
            height: 30px;
            width: 90px;
            margin-top: 7%;

        }
        button{
            width: 100%;
            height: 100%;
            background-color: black;
            border-radius: 20px;
            color: white;
            
        }
    }

    

    .topic_img{
        height: 100px;
        width: 100px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}


.first_nav{
    
    // margin-bottom: 1.5rem;
    // background-color: aquamarine;

    

    &__contents{
        display: flex;
        // background-color: aqua;
        @include flex(unset,space-between);
        cursor: pointer;
        padding: 20px;

        &:hover{
            background-color: $backgound-appbar;
        }



        .frame_nav_content{


            

            


            .title{
                color: #818181;
                font-size: 0.9rem;
            }
            
            .name{
                font-weight: 600;
                padding: 0.4rem 0 0.4rem ;
                font-size: 1.2rem;
            }
            .number_tweet{
                color: #818181;
            }

           

        }

       

         


        .frame_icon_appbarright{

          
            

            button{

                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: transparent;
                outline: 0;
                i{
                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                    
                }

                &:hover{
                    background-color: #e3effa;
                    color: #63b3fc;
                }
            }

        }

       
        
    }
}