@use "../../sass/" as *;

.main_homess {
  display: flex;
  position: absolute;

  .frame_statusss {
    margin-top: 80px;
    width: 39.12rem;
    background-color: white;
    height: max-content;
    min-height: 140px;
    cursor: pointer;

    @include mobile {
      max-width: max-content;
      width: 100%;
      margin-top: 60px;
    }
    &__contents {
      // margin-top: 1rem;
      // border-top: $border-line;
      img {
        width: 100%;
      }
    }

    .frame_status__contents {
      border-top: $border-line;

      &:hover {
        background-color: $backgound_appbar;
        // background-color: red;
      }
    }

    .main_of_second {
      // background-color: aquamarine;
      width: 100%;
      height: 300px;

      @include mobile {
        width: 100%;
      }

      .frame_style_max_content {
        // background-color: aquamarine;

        max-width: max-content;
        width: 100;

        @include flex(center, space-between);
        display: flex;
        // justify-content: center;
        .testnote {
          width: 100%;
          // padding-left: 100%;
          // position: absolute;
          background: rgba(255, 255, 255, 0.5);

          .p_hinde {
            color: transparent;
          }
        }

        @include mobile {
          width: 100%;
        }
      }

      &__nav {
        // background-color: pink;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // gap: 10px;
        justify-content: center;
        width: 41.2%;
        // background-color: aqua;
        // background-color: white !important;
        z-index: 0;
        position: fixed;
        margin-top: -40px;


        @include mobile {
          width: 100%;
        }

        .divactive {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: -20px;
          // background-color: black !important;
          height: 80px;

          @include mobile {
            width: 100%;
            margin-top: -15px;
          }

          .main_li {
            position: fixed;
            // background: rgba(255, 255, 255, 0.5);
            // backdrop-filter: blur(10px);
            border-bottom: $border-line;
            // width: 39.12rem;
            // max-width: 39.12rem;
            color: black;
            height: 80px;
            background-color: white !important;
            z-index: 1000;

            &:hover {
              background-color: $backgound_appbar;
              color: black;
            }
            @include mobile {
              width: 100%;
              max-width: 100%;
            }

            width: 100%;
            background-color: transparent;

            @include mobile {
              width: 50%;
              backdrop-filter: blur(10px);
              margin-top: -60px;
              left: 0;
            }

            @include flex(center, space-between);
            justify-content: center;
            position: relative;
            font-size: 1.3rem;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              height: 4px;
              width: 0;
              transform: translateX(-50%);
              background-color: transparent;
              border-radius: 10px;
              transition: width 0.35s ease, left 0.35s ease, transform 0.35s ease, background-color 0.2s ease;
            }

            &.active::after {
              width: 36px;
              background-color: #73f9d4; // aquamarine / 浅蓝绿
              @include mobile {
                width: 28px;
              }
            }

            &:hover::after {
              width: 100%;
              left: 0;
              transform: none;
              background-color: #73f9d4;
              @include mobile {
                width: 100%;
              }
            }

            &.active:hover::after {
              width: 100%;
              left: 0;
              transform: none;
            }

            &.active {
              color: rgb(25, 24, 24);
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  // ------------------------------------------------------------------------------

  .main_sub {
    margin-top: 32px;
    @include mobile {
      margin-top: 0px;
    }

    .sub {
      display: none;

      .frame_sub {
        height: 70px;
        background-color: white;
        border-bottom: $border-line;
        display: none;

        .fit_flex {
          display: flex;
          padding-top: 0.9rem;
          padding-left: 1.5rem;
          @include flex(center, unset);
          align-items: center;
          @include mobile {
            padding-top: 1.3rem;
          }
          i {
            font-size: 2rem;
            color: var(--color-twitter);

            @include mobile {
              font-size: 1.2rem;
            }
          }
          p {
            padding-left: 1rem;
            font-size: 1.1rem;
            padding-right: 2rem;
            @include mobile {
              font-size: 0.8rem;
            }
          }
        }
        &:hover {
          background-color: $backgound_appbar;
        }
      }
    }
    .sub.active_sub {
      display: block;
    }

    .frame_sub.active_sub {
      display: block;
    }
  }

  .set_position_search {
    margin-left: 8px !important;
    position: fixed;
    // background-color: aquamarine;
    margin-bottom: 4rem;
  }

  .frame_main_appbarRight {
    margin-left: 41.5%;
    cursor: pointer;

    position: fixed;
    overflow-y: auto;
    // background-color:red;
    height: 100vh;
    width: 86%;
    // border-left: 0.5px solid #E8E8E8;
    margin-top: 4%;
    //    background-color: red;

    @include mobile {
      display: none;
    }

    .content {
      background-color: #f4f6f8;
      // background-color: aqua;
      width: 25.8%;
      border-radius: 20px;

      margin: 1.5rem;
      margin-top: 0px;

      height: max-content;
      // margin-bottom: 1.5%;

      // padding: 1.5rem 1.5rem 1.5rem ;
      // background-color: aquamarine;

      h2 {
        padding: 0rem 0 2rem;
        padding: 1.5rem 1.5rem 1.5rem;
      }
      .see {
        color: var(--color-twitter);
        padding: 1.5rem 1.5rem 1.5rem;
      }
    }
    // .marginBottom {
    //     margin-bottom: 20%;
    // }

    .frame_copyright {
      width: 27%;
      border-radius: 20px;

      margin: 1.5rem;
      margin-bottom: 15%;

      padding: 0rem 1.5rem 1.5rem;

      &__one {
        display: flex;
        p {
          margin-right: 0.7rem;
          font-size: 0.9rem;
          color: var(--color-text);
        }
      }
      &__second {
        display: flex;
        margin-top: 0.4rem;
        width: 100%;
        // background-color: aquamarine;
        p {
          margin-right: 0.7rem;
          font-size: 0.9rem;
          color: var(--color-text);
        }
      }
    }
  }
}
