

@use '../../../sass/' as *;

.main_search {

    display: flex;
    
    @include flex(center,unset);
    position: relative;

    margin-left: 1.2rem;
    margin-top: 7px;

    // background-color: bisque;

    @include mobile {
        display: none;
        margin-left: 0px !important;
    }
   
    
    

   
    

    &__searchs{

        height: 40px;
        border-radius: 24px;

        background-color: #F4F6F8;
        // overflow: hidden;
        align-items: center;
        padding-left: 4rem;
        font-size: 1.04rem;
        width: 20.8rem;


       


        
    }

    
   
   

    i{
        
        position: absolute;
        font-size: 1.2rem;
        padding-left: 1.6rem;

        

        // background-color: aqua;
  
    }
}


