@use "../../sass/" as *;

.main_explore {
  
  &__only_image {
    margin-top: 80px;
    border-bottom: $border-line;
    @include mobile{
      margin-top: 60px;
    }

    

    img {
      width: 100%;
    }
  }




  .nav_content{

    width: 100%;
    background-color:white;
    border-bottom: $border-line;
    
    .contents_nav{
        // margin-bottom: 3rem;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
    }

    .div_showmore{

        width: 100%;
        margin-bottom: 5px;
        p{
            padding: 30px 20px 30px;
            color: var(--color-twitter);
         }
        &:hover{
            background-color: $backgound-appbar;
           
        }
    }
  }



}

.frame_main_appbarRight_ex {
  margin-left: 41.5%;
  cursor: pointer;

  position: fixed;
  overflow-y: auto;
//   background-color:red;
  height: 100vh;
  width: 86%;
  // border-left: 0.5px solid #E8E8E8;
  margin-top: 10px;
  //    background-color: red;
  top: 0;

  @include mobile {
    display: none;
  }

  .content {
    background-color: #f4f6f8;
    // background-color: aqua;
    width: 25.8%;
    border-radius: 20px;

    margin: 1.5rem;
    margin-top: 0px;

    height: max-content;
    margin-bottom: 1.5%;

    padding: 1.5rem 1.5rem 1.5rem;

    h2 {
      padding: 0rem 0 2rem;
    }
    .see {
      color: var(--color-twitter);
    }
  }
  // .marginBottom {
  //     margin-bottom: 20%;
  // }

  .frame_copyright {
    width: 27%;
    border-radius: 20px;

    margin: 1.5rem;
    margin-bottom: 15%;

    padding: 0rem 1.5rem 1.5rem;

    &__one {
      display: flex;
      p {
        margin-right: 0.7rem;
        font-size: 0.9rem;
        color: var(--color-text);
      }
    }
    &__second {
      // display: flex;
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      margin-top: 0.4rem;
      width: 100%;
      // background-color: aquamarine;
      p {
        margin-right: 0.7rem;
        font-size: 0.9rem;
        color: var(--color-text);
      }
    }
  }
}
