@use '../../sass/' as *;



.sidebar{
    background-color: var(--main-bg);
    top:0;
    left: 0;
    height: 100vh;
    width: 408px;
    // min-width: 400px;
    // box-shadow: var(--box-shadow);
    border-right: 0.5px solid #E8E8E8;
    position: sticky;
    // position: ;

    @include tablet {
        display:  none;
    
    }

    @include mobile{
        display:  none;
    }

}

.sidebar__logo{
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 2px 7.6rem;
    

    .logohover{
        height: 44px;
        width: 44px;
      
        align-items: center;
        text-align: center;
        border-radius: 50%;
        justify-content: center;
        cursor: pointer;
        position: relative;
        background-color: unset;
        &:hover{
            background-color: #EFF6F9;
        }

        
    }

  

    img{
        height: 32px;
        width: 32px;
        align-items: center;
        text-align: center;
        padding-left: 0.5px;
       
       

       
    }

}

.sidebar__item{
    padding: 0px 7.2rem;
}


.sidebar__item-inner{

    // background-color: aqua;

    font-weight: 600px;
    font-size: 1.2rem;
    margin-bottom: 0.56rem;
    align-items: center;
    height: 44px;
    display: flex;
    border-radius: 24px;
    max-width: max-content;
    width: 100%;

    
    

    i{
        margin-right: 0.8rem;
        font-size: 1.6rem;
        align-items: center;
        margin-left: 0.8rem;
        
       
    }

    
   

    &:hover{
        background-color:#F1F6F8 ;
        
    }
    span{
        padding-right: 0.8rem;
    }

    .frame_news{
        
        
        color: #1da1f2;
        margin-top: -56px;
        // background-color: aqua;
        font-size: 48px;
        margin-left: 1.6rem;
        position: absolute;

    }

}

.sidebar__item-inner.active{
    
    font-weight: 700;
    color: black;

    i{
        color: black;
    }
}

.frame_Button{

    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 2px 7.2rem;
    position: absolute;
    width: 240px;

    button{

       width: 240px;
       background-color: #1da1f2;
       color: white;
       height: 48px;
       border-radius: 24px;
       font-size: 0.96rem;
       

        
    }

}

.frame_fake_button{

    height: 56px;
    // align-items: center;
    // justify-content: center;

    position: absolute;

    width: 240px;
    margin-top: 9.6rem;
    display: flex;
    align-items: center;
    border-radius: 28px;
    cursor: pointer;

    .frame_fake_button_img{
        height: 1.5rem;
        width: 1.5rem;
        

        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            margin: 0 0.8rem ;
        }
    }

    .frame_fake_button_title{
        margin-left: 1.6rem;
        .NameUser{
            font-size: 0.88rem;
            font-weight: 600;
        }
    }
    
    .frame_icon_dot{
        margin-left: 7%;
        i{
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
    &:hover{
        background-color:#E8E8E8 ;
        
    }

}